<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"

    >


    <item
        android:id="@+id/action_notification1"
        android:icon="@drawable/ic_action_pencil"
        android:title="action_notification"
        app:showAsAction="always">
        <menu>
            <item
                android:id="@+id/profile"
                android:icon="@drawable/ic_action_pencil"
                android:title="PROFILE" />

            <item
                android:id="@+id/c"
                android:icon="@drawable/ic_action_pencil"
                android:title="COMPLETED TRIPS" />

            <item
                android:id="@+id/app"
                android:icon="@drawable/ic_action_pencil"
                android:title="REPORT ISSUES" />
            <item
                android:id="@+id/r"
                android:icon="@drawable/ic_action_pencil"
                android:title="REACHED CENTER" />


            <item
                android:id="@+id/pdf"
                android:icon="@drawable/ic_action_pencil"
                android:title="BAG INFO" />
            <item
                android:id="@+id/l"
                android:icon="@drawable/ic_action_pencil"
                android:title="LOGOUT" />
        </menu>
    </item>


</menu>
